@model FitnessConnect.Areas.Identity.Data.Contact

@{
    ViewData["Title"] = "ContactUs";
}

<h3>Contact Us</h3>
<hr class="border border-dark border-2 opacity-75" />
<div class="container">
    <div class="row mb-5 g-4">
        <div class="col-12">
            <div class="row gy-4">
                <div class="col-md-4">
                    <div class="bg-white d-flex flex-column justify-content-center p-4">
                        <h5 class="text-uppercase">// Booking //</h5>
                        <p class="m-0">
                            <i class="bi bi-envelope-open-fill text-secondary me-2"></i>book@example.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-white d-flex flex-column justify-content-center p-4">
                        <h5 class="text-uppercase">// General //</h5>
                        <p class="m-0">
                            <i class="bi bi-envelope-open-fill text-secondary me-2"></i>info@example.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-white d-flex flex-column justify-content-center p-4">
                        <h5 class="text-uppercase">// Technical //</h5>
                        <p class="m-0">
                            <i class="bi bi-envelope-open-fill text-secondary me-2"></i>tech@example.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <iframe class="position-relative rounded w-100 h-100"
                    src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=1851 S Il Rte 59, Bartlett, IL 60103&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
        <div class="col-md-6">
            <h5 class="text-center text-secondary">-Feedback-</h5>
            <form asp-action="ContactUs">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Name"class="form-control" placeholder="Your Name">
                            <label asp-for="Name">Your Name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Email" class="form-control" placeholder="Your Email">
                            <label asp-for="Email">Your Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input asp-for="Subject" class="form-control" placeholder="Subject">
                            <label asp-for="Subject">Subject</label>
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea asp-for="Message" class="form-control" rows="5">Leave a message here</textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-secondary w-100 py-3" type="submit">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
